@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);

.navbar{
	background-color: #2D2D2E;
	margin: 0;
	border-top: 10px solid #1793D0;
	padding: 1em;
	clear: both;
}

.navbar ul li{
	list-style-type: none;
	display: inline;
	padding-right: 5%;
}

.navbar ul{
	padding-left: 5%;
	margin: 0;
}

.navbar a{
	color: #8F9496;
	text-decoration: none;
	font-size: 1.25em;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	padding: 0.75em 0 0.75em 0;
}

.navbar a:hover{
	color: #fff;
}

a.currentPage{
	color: #1793D0;
}

.pageHeader{
	background-color: #5F5F63;
}

.logo{
	display: inline-block;
	margin-left: 5%;
}

.logo img{
	max-width: 50%;
}

.content{
	background-color: #F5F5F5;
	margin: 50px auto;
	width: 80%;
	padding: 10px;
	border: 1px solid #ccc;
	font-family: 'Arvo', serif;
}

.content img{
	border: solid 3px #ccc;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
}

.content h1{
	padding-left: 10px;
	font-size: 2em;
}

.content li{
	list-style: none;
	margin: 50px 0;
}

.content a{
	text-decoration: none;
	padding: 10px;
	color: #ccc;
}

.content p{
	padding: 0 10px;
}

.content a:visited{
	color: #F09F59;
}

.key{
	background-image: url(images/gradient.png);
	background: linear-gradient(left, #1793D0, #106693);
	background: -moz-linear-gradient(left, #1793D0, #106693);
	background: -webkit-linear-gradient(left, #1793D0, #106693);
	background: -o-linear-gradient(left, #1793D0, #106693);
	
	margin: 50px 0;
	padding: 10px;
}

.threeColumn{
	padding: 0;
	text-align: center;
}

.threeColumn img{
	display: inline-block;
	width: 30%;
	height: 200px;
}

.threeColumn p{
	display: inline-block;
	padding: 10px;
	width: 30%;
	text-align: center;
}

.singleRow{
	display: inline-block;
	width: 100%;
}

.singleRow p{
	width: 65%;
	float: right;
}

.singleRow img{
	max-width: 300px;
	max-height: 200px;
	clear: left;
}

.singleRow h2{
	margin-left: 10px;
	float: left;
}

.singleRow h3{
	min-width: 250px;
	margin-left: 10px;
	float: right;
}

.dayAndMonth{
	background-color: #8F9496;
	padding: 0.5em;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.year{
	background-color: #F09F59;
	padding: 0.5em;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

aside.monthSelector{
	float: right;
	display: inline-block;
	background-color: #2D2D2E;
	margin: 50px 10px 10px 10px; 
	border: solid 1px #ccc;
	font-family: 'Arvo', serif;
}

aside.monthSelector a{
	text-decoration: none;
	color: #8F9496;
}

aside.monthSelector h1{
	font-size: 1.2em;
	padding: 10px;
	background-color: #F09F59;
	margin: 0;
}

aside.monthSelector a:hover{
	color: #fff;
}

aside.monthSelector li{
	padding: 10px;
	list-style: none;
}

aside.monthSelector ul{
	padding: 10px;
}

#wrapper{
	margin: 0px auto;
	width: 95%;
}

#wrapper .content{
	float: left;
	display: inline-block;
}

#wrapper aside.monthSelector{
	float: left;
	display: inline-block;
}

.contactForm{
	width: 600px;
	margin: 0 auto;
	background-color: #2D2D2E;
	padding: 10px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.formHeader h1{
	width: 600px;
	margin: 0 auto;
	background-color: #F09F59;
	padding: 10px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.contactForm label{
	margin: 10px;
	display: inline-block;
	color: #fff;
}

.contactForm p{
	color: #fff;
}

.contactForm input, .contactForm textarea{
	display: block;
	clear: right;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
}

#fromName, #fromEmail{
	width: 300px;
}

#message{
	width: 500px;
	height: 200px;
}

#formSubmit, #formReset{
	display: inline-block;
}

.requiredSymbol{
	color: red;
}

.canvasHeader{
	background-color: #F09F59;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.canvasHeader h1{
	margin: 0;
}

.canvasContainer{
	background-color: #2D2D2E;
	padding: 10px;
	width: 800px;
	margin: 0 auto;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#demoCanvas{
	width: 640px;
	height: 480px;
	margin: 10px auto;
	display: block;
	background-color: #fff;

}

.pageFooter{
	background-color: #F09F59;
	clear: both;
	padding: 0 10px 0 10px;
	margin-top: 50px;
	font-family: 'Oswald', sans-serif;
}

.pageFooter ul li{
	list-style-type: none;
	display: inline;
	padding-right: 5%;
	font-size: 1.2em;
}

.pageFooter ul{
	padding: 3% 0 3% 15%;
	margin: 0;
}

.pageFooter a{
	color: #fff;
	text-decoration: none;
}

.pageFooter li:last-child{
	float: right;
	color: #fff;
}	
