.navbar{
	background-color: #2D2D2E;
	margin: 0;
	border-top: 10px solid #1793D0;
	padding: 1em;
	clear: both;
}

.navbar ul li{
	list-style-type: none;
	display: inline;
	padding-right: 5%;
}

.navbar ul{
	padding-left: 5%;
	margin: 0;
}

.navbar a{
	color: #8F9496;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25em;
	font-family: sans-serif;
	padding: 0.75em, 0, 0.75em, 0;
}	

.navbar a:hover{
	color: white;
}

a.currentPage{
	color: #1793D0;
}

.pageHeader{
	background-color: #5F5F63;
	padding: 10px;
}

.logo{
	display: inline-block;
}

.logo img{
	float:right;
	max-width: 50%;
	margin: 0;
}

.content{
	background-color: #F5F5F5;
	margin: 0 auto;
	width: 80%;
	padding: 10px;
}

.threeColumn{
	width: 95%;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
}

.threeColumn img{
	display: inline-block;
	padding: 10px;
	width: 30%;
}

.threeColumn p{
	display: inline-block;
	padding: 10px;
	width: 30%;
	text-align: center;
}

.singleRow{
	display: inline;
}

.singleRow img{
	width: 30%;
	padding: 10px;
	max-height: 200px;
}

.singleRow h3{
	padding-left: 10px;
	font-size: 2em;
}

.singleRow h4{
	padding-left: 10px;
	margin: 0;
}

.singleRow p{
	width: 65%;
	float: right;
	padding: 10px;

}

.pageFooter{
	margin: 0 auto 50px auto;
	width: 80%;
	background-color: #F09F59;
	clear: both;
	padding: 0 10px 0 10px;
}

.pageFooter ul li{
	list-style-type: none;
	display: inline;
	padding-right: 5%;
}

.pageFooter ul{
	padding:3% 0 3% 15%;
	margin: 0;
}

.pageFooter a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}

.pageFooter li:last-child{
	float:right;
}	
